@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
}

.background span {
  width: 2vmin;
  height: 2vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 25;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #07f72a;
  top: 12%;
  left: 39%;
  animation-duration: 153s;
  animation-delay: -223s;
  transform-origin: -1vw 19vh;
  box-shadow: -4vmin 0 0.5671817313971296vmin currentColor;
}
.background span:nth-child(1) {
  color: #73d216;
  top: 8%;
  left: 46%;
  animation-duration: 83s;
  animation-delay: -193s;
  transform-origin: -24vw -20vh;
  box-shadow: 4vmin 0 1.2249246642354779vmin currentColor;
}
.background span:nth-child(2) {
  color: #80cb88;
  top: 38%;
  left: 49%;
  animation-duration: 206s;
  animation-delay: -54s;
  transform-origin: -7vw -20vh;
  box-shadow: -4vmin 0 0.5876219163727434vmin currentColor;
}
.background span:nth-child(3) {
  color: #07f72a;
  top: 36%;
  left: 57%;
  animation-duration: 180s;
  animation-delay: -11s;
  transform-origin: -12vw -6vh;
  box-shadow: 4vmin 0 0.9206167444219703vmin currentColor;
}
.background span:nth-child(4) {
  color: #07f72a;
  top: 30%;
  left: 89%;
  animation-duration: 223s;
  animation-delay: -119s;
  transform-origin: -1vw 23vh;
  box-shadow: 4vmin 0 0.931295945288103vmin currentColor;
}
.background span:nth-child(5) {
  color: #73d216;
  top: 31%;
  left: 28%;
  animation-duration: 126s;
  animation-delay: -28s;
  transform-origin: -22vw 19vh;
  box-shadow: -4vmin 0 1.1146835807654383vmin currentColor;
}
.background span:nth-child(6) {
  color: #07f72a;
  top: 26%;
  left: 7%;
  animation-duration: 115s;
  animation-delay: -108s;
  transform-origin: -11vw 1vh;
  box-shadow: -4vmin 0 1.1028883446924516vmin currentColor;
}
.background span:nth-child(7) {
  color: #07f72a;
  top: 35%;
  left: 2%;
  animation-duration: 77s;
  animation-delay: -5s;
  transform-origin: 5vw 24vh;
  box-shadow: 4vmin 0 1.0508583038668187vmin currentColor;
}
.background span:nth-child(8) {
  color: #07f72a;
  top: 64%;
  left: 54%;
  animation-duration: 138s;
  animation-delay: -183s;
  transform-origin: 22vw 24vh;
  box-shadow: -4vmin 0 1.1135406042038558vmin currentColor;
}
.background span:nth-child(9) {
  color: #07f72a;
  top: 46%;
  left: 65%;
  animation-duration: 104s;
  animation-delay: -83s;
  transform-origin: -15vw 24vh;
  box-shadow: 4vmin 0 0.7411816335199972vmin currentColor;
}
.background span:nth-child(10) {
  color: #07f72a;
  top: 7%;
  left: 50%;
  animation-duration: 20s;
  animation-delay: -52s;
  transform-origin: -13vw -6vh;
  box-shadow: -4vmin 0 0.9378090247521559vmin currentColor;
}
.background span:nth-child(11) {
  color: #07f72a;
  top: 84%;
  left: 44%;
  animation-duration: 163s;
  animation-delay: -4s;
  transform-origin: -9vw -19vh;
  box-shadow: -4vmin 0 1.2659459405928462vmin currentColor;
}
.background span:nth-child(12) {
  color: #07f72a;
  top: 26%;
  left: 73%;
  animation-duration: 203s;
  animation-delay: -138s;
  transform-origin: 2vw -12vh;
  box-shadow: -4vmin 0 1.3645669773845053vmin currentColor;
}
.background span:nth-child(13) {
  color: #80cb88;
  top: 93%;
  left: 36%;
  animation-duration: 178s;
  animation-delay: -205s;
  transform-origin: -2vw 22vh;
  box-shadow: -4vmin 0 1.042550035301176vmin currentColor;
}
.background span:nth-child(14) {
  color: #73d216;
  top: 70%;
  left: 20%;
  animation-duration: 78s;
  animation-delay: -213s;
  transform-origin: 25vw 2vh;
  box-shadow: -4vmin 0 1.084096549128693vmin currentColor;
}
.background span:nth-child(15) {
  color: #07f72a;
  top: 96%;
  left: 89%;
  animation-duration: 16s;
  animation-delay: -33s;
  transform-origin: 6vw 19vh;
  box-shadow: 4vmin 0 1.441033681282742vmin currentColor;
}
.background span:nth-child(16) {
  color: #07f72a;
  top: 32%;
  left: 8%;
  animation-duration: 223s;
  animation-delay: -86s;
  transform-origin: 1vw 6vh;
  box-shadow: -4vmin 0 0.9513327951890328vmin currentColor;
}
.background span:nth-child(17) {
  color: #73d216;
  top: 81%;
  left: 97%;
  animation-duration: 201s;
  animation-delay: -203s;
  transform-origin: -17vw 21vh;
  box-shadow: -4vmin 0 0.7240537060580807vmin currentColor;
}
.background span:nth-child(18) {
  color: #07f72a;
  top: 64%;
  left: 93%;
  animation-duration: 214s;
  animation-delay: -142s;
  transform-origin: -10vw 14vh;
  box-shadow: -4vmin 0 0.8667240320929473vmin currentColor;
}
.background span:nth-child(19) {
  color: #80cb88;
  top: 2%;
  left: 96%;
  animation-duration: 141s;
  animation-delay: -37s;
  transform-origin: 20vw -24vh;
  box-shadow: 4vmin 0 0.6139608161137677vmin currentColor;
}
.background span:nth-child(20) {
  color: #73d216;
  top: 40%;
  left: 14%;
  animation-duration: 46s;
  animation-delay: -194s;
  transform-origin: -22vw 4vh;
  box-shadow: -4vmin 0 1.3270928448051749vmin currentColor;
}
.background span:nth-child(21) {
  color: #80cb88;
  top: 4%;
  left: 55%;
  animation-duration: 54s;
  animation-delay: -8s;
  transform-origin: -12vw 12vh;
  box-shadow: 4vmin 0 0.9441711190873vmin currentColor;
}
.background span:nth-child(22) {
  color: #80cb88;
  top: 89%;
  left: 14%;
  animation-duration: 220s;
  animation-delay: -108s;
  transform-origin: -6vw 4vh;
  box-shadow: 4vmin 0 0.5622532555389417vmin currentColor;
}
.background span:nth-child(23) {
  color: #80cb88;
  top: 41%;
  left: 73%;
  animation-duration: 103s;
  animation-delay: -100s;
  transform-origin: 16vw 14vh;
  box-shadow: 4vmin 0 0.6100643798535565vmin currentColor;
}
.background span:nth-child(24) {
  color: #80cb88;
  top: 38%;
  left: 5%;
  animation-duration: 89s;
  animation-delay: -143s;
  transform-origin: 10vw 9vh;
  box-shadow: 4vmin 0 0.9403013719659135vmin currentColor;
}
.background span:nth-child(25) {
  color: #07f72a;
  top: 38%;
  left: 30%;
  animation-duration: 199s;
  animation-delay: -53s;
  transform-origin: -2vw 3vh;
  box-shadow: -4vmin 0 1.092113707574879vmin currentColor;
}
.background span:nth-child(26) {
  color: #07f72a;
  top: 74%;
  left: 97%;
  animation-duration: 36s;
  animation-delay: -241s;
  transform-origin: -2vw -15vh;
  box-shadow: -4vmin 0 1.056691028121497vmin currentColor;
}
.background span:nth-child(27) {
  color: #73d216;
  top: 21%;
  left: 11%;
  animation-duration: 65s;
  animation-delay: -137s;
  transform-origin: -24vw 12vh;
  box-shadow: 4vmin 0 0.5882346670183946vmin currentColor;
}
